<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/estilo.css">
<link rel="icon" type="image/png" href="/images/logo.png">
<title>Categoria</title>
</head>
<body>
	<div class="container">
		<div class="navigation">
			<ul>
				<li><a href="/administrativo"
					style="display: flex; align-items: center;"> <img
						src="/images/logo.png" alt="Logo" style="margin-right: 10px;">
						<span class="title"><h2>JP Arruelas</h2></span>
				</a></li>
				<li><a href="/administrativo"><span class="icon"><i
							class="fa fa-home" aria-hidden="true"></i></span><span class="title">Home</span></a></li>
				<li><a th:href="@{/empresa}"><span class="icon"><i
							class="fa fa-industry" aria-hidden="true"></i></span><span class="title">Dados
							da empresa</span></a></li>
				<li><a th:href="@{/usuarios}"><span class="icon"><i
							class="fa fa-user" aria-hidden="true"></i></span><span class="title">Usuários</span></a></li>
				<li><a th:href="@{/categorias/lista}"><span class="icon"><i
							class="fa fa-tags" aria-hidden="true"></i></span><span class="title">Categorias</span></a></li>
				<li><a th:href="@{/produtos}"><span class="icon"><i
							class="fa fa-shopping-basket" aria-hidden="true"></i></span><span
						class="title">Produtos</span></a></li>
				<li><a href="#"><span class="icon"><i
							class="fa fa-file" aria-hidden="true"></i></span><span class="title">Solicitações</span></a></li>
				<li><a href="#"><span class="icon"><i
							class="fa fa-file-pdf-o" aria-hidden="true"></i></span><span
						class="title">Emitir PDF</span></a></li>
				<li><a href="#"><span class="icon"><i
							class="fa fa-sign-out" aria-hidden="true"></i></span><span class="title">Sair</span></a></li>
			</ul>
		</div>
		<div class="main">
			<div class="topbar">
				<div class="toggle" onclick="toggleMenu();"></div>
				<div class="search"></div>
			</div>
			<div class="details">
				<div class="recentOrders">
					<div class="cardHeader">
						<i class="fa fa-tags"></i>
						<h2>Lista de Categorias</h2>
						<a th:href="@{/categorias/showNewCategoriaForm}" class="btn">
						<i class="fa fa-plus" aria-hidden="true"></i>Adicionar
							categoria</a>
					</div>
				</div>
			</div>
			<table border="1" class="table">
				<thead>
					<tr>
						<th>Título da categoria</th>
						<th class="actions">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="categoria : ${listCategorias}">
						<td th:text="${categoria.titulo}">Título</td>
						<td class="actions-container"><a
							th:href="@{'/categorias/showFormForUpdate/' + ${categoria.id}}"
							class="btn"> <i class="fa fa-edit" aria-hidden="true"></i>
								Editar
						</a> <a th:href="@{'/categorias/deleteCategoria/' + ${categoria.id}}"
							class="btn btn-deletar"> <i class="fa fa-trash"
								aria-hidden="true"></i> Deletar
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script>
		function toggleMenu() {
			let navigation = document.querySelector('.navigation');
			let main = document.querySelector('.main');
			navigation.classList.toggle('active');
			main.classList.toggle('active');
		}
	</script>
</body>
</html>
